html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
}

h1 {
    font-size: 32px;
}

button {
    background-color: #748E54;
    color: white;
    font-weight: bold;
    padding: 6px 8px;
    border: none;
    font-size: 1.2rem;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

button:hover {
    background-color: #748e54d5;
}

.square {
    height: 25px;
    width: 25px;
    border: 1px solid rgba(0, 0, 0, 0.103);
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 400px;
}

/* .hover-item {
    background-color: gray;
} */