html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    height: 30px;
    width: 30px;
    border: 1px solid;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 480px;
}

.hover-item {
    background-color: gray;
}